# root will contain every processed artifact (pT cache, experiments)
POSE6D_ROOT=root/
# BOP datasets (pbr uses the lmo object models)
LMO_ROOT=data/lmo
PBR_ROOT=data/pbr/train_pbr
# target the original dataset. can be the same as root as both share the subfolder '/lmo'
POSE6D_DATASET=data/
