# root will contain every data artifact (eg: features, pointclouds, etc)
POSE6D_ROOT=root/
# target the original dataset. can be the same as root as both share the subfolder '/lmo'
POSE6_DATASET=data/

